# Logs

*.log
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
.env
*.local
cache
coverage
dist
node_modules

# Editor directories and files

.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?